<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="connect" connectionString="Data Source=DESKTOP-MATFCL9\SQLEXPRESS;Initial Catalog=employee;User ID=sa;Passwordsa123"
      providerName="System.Data.SqlClient" />
    <add name="studentregistrationConnectionString" connectionString="Data Source=DESKTOP-MATFCL9\SQLEXPRESS;Initial Catalog=studentregistration;User ID=sa;Password=sa123"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5.1" />
      <httpRuntime targetFramework="4.5.1" />
    </system.web>

</configuration>
